{%  extends 'base.html' %}

{% block titulo %}
    Deportes
{% endblock %}

{% block contenido %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}">Futbol</a>
                <a class="navbar-brand" href="{% url 'about' %}">Basquetbol</a>
                <a class="navbar-brand" href="{% url 'about' %}">Ajedrez</a>
                <a class="navbar-brand" href="{% url 'about' %}">Ping Pong</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
        </nav>
    </header>

{% endblock %}
